a:link{color: white}
a:hover{color: green}
a:visited{color: cyan}

body
{
	font: 14px Arial, Helvetica, sans-serif;
        background-color: lightgrey;
}

div
{
	border-style: solid;
	border-color: black;
	border-width: 0px;
}

#homenomelogo
{
    float: left;
}

#nomelogo
{
	float: left;
}

#navbar
{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: black;
    height: 40px;
}

#main
{
	width: 1000px;
	height: auto;
	margin: auto;
	background-color: #b0c4de;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#login
{
	float: right;
	margin: 5px;
}

label
{
	float: left;
}

li 
{
    list-style: none outside none;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
    background-color: #9E1616;
    border-left: 1px solid #1C345A;
    text-align: center;
}

#username, #password
{
	float: right;
}

#logo
{
	height: 100px;
	width: 100%;
}

#leftbar
{
	float: left;
	width: 150px;
	height: 100%;
}

#content
{
	float: center;
	margin-left: 150px;
}
